<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} - Office of Li Zhaozhi</title>
	<link rel="shortcut icon" href="/favicon.ico">
	
	<!-- SEO tags -->
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="index, follow">
  	<meta name="description" content="">
  	<meta name="keywords" content="li zhaozhi, Li Zhaozhi, zhaozhi li, Zhaozhi Li, 李兆智, website, blog, github, GitHub">
  	<meta name="author" content="Li Zhaozhi">
	
	<!-- og tags -->
	<meta property="og:title" content="{{ page.title }} - Office of Li Zhaozhi">
	<meta property="og:site_name" content="Office of Li Zhaozhi">
	<meta property="og:url" content="{{ page.url }}">
	<meta property="og:image" content="{{ page.image }}">
	<meta property="og:description" content="">
	
	<!-- stylesheets -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
	  	<link rel="stylesheet" type="text/css" href="/assets/styles/page-styles.css">
	
	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
		<!--responsive top navbar-->
		<style>
			h3{
				font-family: 'Open Sans', sans-serif !important;
			}
			.site-title{
				color: white;
				font-family: 'Garamond', serif;
				float: left; 
				margin-left: 150px;
			}
			.nav-top-links{float: right;}
			.nav-top-links a{color: white; text-decoration: none; padding-right: 20px;}
			.nav-top-links a:hover, .nav-top-links a:visited:hover{color: grey;}
			.nav-top-links a:visited{color: #9370DB;}
			@media(max-width: 991.98px){
				.site-title{
					display: none;
				}
				.nav-top-links{display: none;}
			}

			.dropdown {
				position: relative;
				display: inline-block;
			}
			
			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 120px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				padding: 5px 10px;
				z-index: 500; 
			}
			
			.dropdown:hover .dropdown-content {
				display: block;
			}
		</style>
		
		  <div class="page-content">
		<!-- <meta http-equiv="refresh" content="0; url='/notice/'" /> -->
		
		<!--responsive top navbar-->
		<div style="background: #dadada;"><div class="container" style="color: #333;">The official website of Li Zhaozhi.</div></div>
		
		
		<!-- <div style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/covid.png'); min-height: 30px; padding: 10px;
				background-size: cover; background-repeat: no-repeat;">
			<div class="container">
				<h1 style="color: white;">Coronavirus Resources</h1>
				<a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">Click here for COVID-19 resources from the World Health Organization.</a>
			</div>
		</div>
		  -->
		
		<div class="nav">
			<div id="top-nav" style="background: #062135;">
				<div class="container">
					<a href="/en-uk/">
						<img src="/assets/images/site-logo-dark.png" id="logo" alt="site logo">
					</a>
					<a href="javascript:void(0)" id="navbutton" onclick="nav();">
						<img src="/assets/images/open-menu-light-right.png" width="auto" height="30px;" id="icon">
					</a>
					<div class="recolor nav-top-links" style="color: white;">
						<a href="https://www.zhihu.com/people/mrlizhaozhi" target="_blank">Zhihu</a> 
						<a href="https://medium.com/@lizhaozhi" target="_blank">Medium</a> 
						<a href="https://codepen.io/lizhaozhi" target="_blank">CodePen</a> 
						<a href="https://github.com/mrlizhaozhi" target="_blank">GitHub</a> 
						<a href="https://www.kaggle.com/mrlizhaozhi" target="_blank">Kaggle</a> 
						<a href="https://public.tableau.com/app/profile/lizhaozhi" target="_blank">Tableau</a> 
						<a href="https://www.linkedin.com/in/mrlizhaozhi" target="_blank">LinkedIn</a>
						
						<div class="dropdown">
							<span>💬 Languages</span>
							<div class="dropdown-content">
								<ul style="list-style-type: none; padding: 0px;">
									<li style="margin-bottom: 5px;">
										<a href="/en-uk/" style="color: black;">English</a>
									</li>
									<li style="margin-bottom: 5px;">
										<a href="/es-mx/" style="color: black;">Español</a>										
									</li>
									<li style="margin-bottom: 5px;">
										<a href="/fr-ca/" style="color: black;">Français</a>										
									</li>
									<li style="margin-bottom: 5px;">
										<a href="/zh-cn/" style="color: black;">简体中文</a>									
									</li>
									<li style="margin-bottom: 5px;">
										<a href="/zh-hk/" style="color: black;">繁體中文</a>									
									</li>
								</ul>							  
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="mobinav" class="collapse">
				<div class="container">
					<p class="site-title">OFFICE <i>of</i> LI ZHAOZHI</p>
					<ul id="nav-items">
						<li><a href="/en-uk/about-zhaozhi/">ABOUT</a></li>
						<li><a href="/en-uk/issues/">ISSUES</a></li>
						<li><a href="/en-uk/research/">RESEARCH</a></li>
						<li><a href="/en-uk/press-office/">PRESS</a></li>
						<li><a href="/pages/resources/en-uk/">RESOURCES</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="message" class="recolor"></div>
	  
		{{ content }}
		
		<!--responsive footer-->
		<!-- <div style="background: #0a314d; color: white;">
			<div class="container">
				<ul id="footer-items">
					<li><a href="https://www.linkedin.com/in/lizhaozhi">LinkedIn</a></li>
					<li><a href="https://github.com/mrlizhaozhi">GitHub</a></li>
					<li><a href="https://www.kaggle.com/mrlizhaozhi/">Kaggle</a></li>
					<li><a href="https://public.tableau.com/app/profile/lizhaozhi">Tableau</a></li>
					<li><a href="https://codepen.io/lizhaozhi">CodePen</a></li>
				</ul>
			</div>
		</div> -->
		
		<div class="recolor" style="min-height: 200px; background: #0a314d; color: white;">
			<div class="container">
				<div class="footer-menu">
					<!-- <div id="footer-menu-1">
						<ul style="text-align: center;">
							<li><img src="/img/site-logo-dark.png" style="width: 150px; height: auto;"></li>
							<li><h3 style="font-family: 'Georgia';">LI ZHAOZHI</h3></li>
						</ul>
					</div> -->
					<div id="footer-menu-1">
						<ul>
							<li><h3>ABOUT</h3></li>
							<li><a href="/en-uk/about-zhaozhi/">About Zhaozhi</a></li>
							<li><a href="/en-uk/about-zhaozhi/about/">Profile</a></li>
							<li><a href="/en-uk/about-zhaozhi/mission/">Mission</a></li>
							<li><a href="/en-uk/about-zhaozhi/values/">Values</a></li>
							<li><a href="/en-uk/about-zhaozhi/careers/">Careers</a></li>
						</ul>
					</div>
					<div id="footer-menu-2">
						<ul>
							<li><h3>RESEARCH</h3></li>
							<li><a href="/en-uk/research/">Research Centre</a></li>
							<li><a href="/en-uk/research/programmes/">Programmes</a></li>
							<li><a href="/en-uk/research/projects/">Projects</a></li>
							<li><a href="/en-uk/research/publications/">Publications</a></li>
							<li><a href="/en-uk/resources/">Resources</a></li>
						</ul>
					</div>
					<div id="footer-menu-3">
						<ul>
							<li><h3>NEWSROOM</h3></li>
							<li><a href="/en-uk/press-office/press-releases/">Press releases</a></li>
							<li><a href="/en-uk/press-office/blogs-opeds/">Blogs</a></li>
							<li><a href="/en-uk/office-of-li-zhaozhi-useful-links/">Links</a></li>
							<li><a href="/pages/resources/en-uk/">Resources</a></li>
							<li><a href="/en-uk/office-of-li-zhaozhi-archives/">Archives</a></li>
						</ul>
					</div>
					<div id="footer-menu-4">
						<ul>
							<li><h3>PROFILES</h3></li>
							<li><a href="https://github.com/mrlizhaozhi">GitHub</a></li>
							<li><a href="https://www.kaggle.com/mrlizhaozhi">Kaggle</a></li>
							<li><a href="https://www.codepen.io/lizhaozhi">CodePen</a></li>
							<li><a href="https://public.tableau.com/app/profile/lizhaozhi">Tableau</a></li>
							<li><a href="/en-uk/press-office/blogs-opeds/">Blogs</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
					
		<div class="recolor footer">
			<div class="container">
				<div class="footer-grid">
					<div> <script>document.write(new Date().getFullYear())</script>  &copy; Office of Li Zhaozhi
					</div>
					<div>
						<ul id="footer-items">
							<li><a href="/en-uk/accessibility/">Accessibility</a></li>
							<li><a href="/en-uk/terms-and-conditions/">Terms and Conditions</a></li>
							<li><a href="/en-uk/privacy-policy/">Privacy Policy</a></li>
							<li><a href="/en-uk/copyright/">Copyright</a></li>
						</ul>
					</div>
				</div>
				<ul id="footer-items">
					<li style="padding-left: 0px;"><a href="/en-uk/">English</a></li>
					<li><a href="/es-mx/">Español</a></li>
					<li><a href="/fr-ca/">Français</a></li>
					<li><a href="/zh-cn/">简体中文</a></li>
					<li><a href="/zh-hk/">繁體中文</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script src="/assets/scripts/scripts.js"></script> 
		<script src="/assets/scripts/include.js"></script> 
		<script src="/assets/scripts/navbar.js"></script>
		<script src="/assets/scripts/opentab.js"></script> 
		<script src="/assets/scripts/lunr.js"></script>
		
		<script>
		  AOS.init();
		</script>
		<!--custom JS-->
		<script>
				
			includeHTML();
			
			if (navigator.appName == 'Microsoft Internet Explorer' ||  !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) || (typeof $.browser !== "undefined" && $.browser.msie == 1))
			{
			  document.getElementById("browser").innerHTML = "<div style='padding: 10px 50px; color: red;'>This website does not support Internet Explorer. Please upgrade your browser. Please click <a href='/accessibility/'> here</a> to view our accessibility statement.</div>";
			}
		
		</script>	
   
</body>
</html>
