---
layout: default
---
  
<style>
	/*
	* Prefixed by https://autoprefixer.github.io
	* PostCSS: v8.4.14,
	* Autoprefixer: v10.4.7
	* Browsers: last 4 version
	*/
	
	.blog-post p::before{content: " "; display: inline-block; border: 1px solid orange; width: 30px; vertical-align: middle; margin-right: 5px;}
		
		ul{
			list-style-type: none;	
		}
	
		#mobinav{position: absolute; z-index: 100; width: 100%;}
		#logo{position: relative; z-index: 200;}
	
		.tabcontent{background: white; padding: 20px 50px 20px 50px; margin-bottom: 50px;}
		.tabcontent a{font-family: 'EB Garamond', serif; text-decoration: none;}
		.tabcontent a:hover{text-decoration: underline;}
	
		.blog-post{border-bottom: 1px solid #ccc; padding: 20px 0 20px 0;}
		.blog-post a{font-size: 26px;}
	
		#blog-post-time{-ms-grid-row: 1;-ms-grid-column: 1;grid-area: blog-post-time;}
		#blog-post-time > div {border-bottom: 1px solid #ccc; padding: 20px 0 20px 0;}
		#blog-post-time a {text-decoration: none;}
		#blog-post-list{-ms-grid-row: 1;-ms-grid-column: 3;grid-area: blog-post-list;}
		.all-blog-posts{display: -ms-grid;display: grid; -ms-grid-columns: 1fr 50px 2fr; grid-template-columns: 1fr 2fr; grid-template-areas: "blog-post-time blog-post-list"; grid-gap: 50px;}
		
		#post-image{-ms-grid-row: 3;-ms-grid-column: 1;grid-area: post-image; height: 100px; max-width: 100px; -o-object-fit: cover; object-fit: cover;}
		#post-date{-ms-grid-row: 1;-ms-grid-column: 1;-ms-grid-column-span: 3;grid-area: post-date;}
		#post-title{-ms-grid-row: 3;-ms-grid-column: 3;grid-area: post-title;}
		#post-title a{font-family: 'EB Garamond', serif; text-decoration: none;}
		#post-title a:hover{text-decoration: underline;}
		.post-template{display: -ms-grid;display: grid; -ms-grid-columns: 1fr 10px 3fr; grid-template-columns: 1fr 3fr; -ms-grid-rows: auto 10px auto; grid-template-areas: 
			"post-date post-date" 
			"post-image post-title"; grid-gap: 10px;}
	
		@media (max-width: 991.98px){
			.all-blog-posts{-ms-grid-columns: 1fr;grid-template-columns: 1fr; -ms-grid-rows: auto 20px auto; grid-template-areas: "blog-post-list" "blog-post-time"; grid-gap: 20px;}
			.tabcontent{background: white; padding: 10px 20px 10px 20px; margin-bottom: 50px;}
			#blog-post-time{-ms-grid-row: 3;-ms-grid-column: 1;}
			#blog-post-list{-ms-grid-row: 1;-ms-grid-column: 1;}
		}.example {
	    display: -ms-grid;
	    display: grid;
	    -webkit-transition: all .5s;
	    -o-transition: all .5s;
	    transition: all .5s;
	    -webkit-user-select: none;
	       -moz-user-select: none;
	        -ms-user-select: none;
	            user-select: none;
	    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
	    background: -o-linear-gradient(top, white, black);
	    background: linear-gradient(to bottom, white, black);
	}
</style>



<!-- title background -->
<div style="min-height: 500px; padding: 0; position: relative;">	
	<img src="/assets/images/guangzhou.png" style="width: 100%; height: 100%; object-fit: cover; position: absolute; object-position: bottom;">
</div>

<div style="background-color: #0a314d;">

<!-- topic title -->
<div class="container">
	<div class="news-bar" style="padding: 10px;">
		<div style="padding: 10px; border: 1px solid black;">
			<p style="text-align: center; font-family: 'EB Garamond', serif; font-size: 200%;" id="slogan">
				{{ page.title }}
			</p>
			<center>	
				<p class="text-center"></p>
			</center>
		</div>
	</div>
</div>

<!-- topic description -->

<div class="container">
	<div class="project-page">
		<div id="project-title" style="padding-right: 5%;">
			<p style="font-size: 2.5em; font-family: 'EB Garamond', serif; color: yellow;">
				{{ page.message }}
			</p>
			</div>
			<div id="project-description" style="padding: 5% 0;">
			<p style="color: white;">
				{{ page.description }}
			</p>
			</div>
		</div>
	</div>
</div>

<div style="background: #0a314d; height: 50px; clip-path: polygon(0% 0%, 100% 0, 100% 0, 50% 100%, 0 0);"></div>

<div style="min-height: 300px;">
	<div class="container">
		<div class="all-blog-posts">
			<div id="blog-post-time" style="border: 2px solid red; margin-bottom: 50px; background: white; padding: 20px 50px 20px 50px;">
				<h3 style="font-family: 'Garamond', sans-serif; text-align: center;">CATEGORIES</h3>
				<div>
					<a href="/blogs/">Main Blogs</a>
				</div>
				<p>SECTIONS</p>
				<div>
					<a href="/blogs/career-development/">Career Development</a>
				</div>
				<div>
					<a href="/blogs/web-development/">Web Development</a>
				</div>
				<div>
					<a href="/blogs/data-science/">Data Science</a>
				</div>
				<div>
					<a href="/blogs/artificial-intelligence/">Artificial Intelligence</a>
				</div>
			</div>

			<div id="blog-post-list">
				<div id="aug-2021" class="tabcontent">
					{{ content }}
				</div>		
			</div>
		</div>
	</div>
</div>


<style>

.hero-image{
	width: 100%; 
	margin-top: -100px;
}

@media (max-width: 991.98px){ 
	.hero-image{
		width: 100%; 
		margin-top: 0px;
	}
}
	/*search tool*/
form{
	background: #ccc;
	padding: 10px;
	text-align: center;
}

input{
	font-family: "Merriweather";
	font-size: 20px;
	width: 100%;
}
</style>