<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} - Office of Li Zhaozhi</title>
	<link rel="shortcut icon" href="/favicon.ico">
	
	<!-- SEO tags -->
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="index, follow">
  	<meta name="description" content="{{ page.description }}">
  	<meta name="keywords" content="li, zhaozhi, gitHub, blog, website, personal website">
  	<meta name="author" content="Li Zhaozhi">
	
	<!-- og tags -->
	<meta property="og:title" content="{{ page.title }} - Office of Li Zhaozhi">
	<meta property="og:site_name" content="Office of Li Zhaozhi">
	<meta property="og:url" content="https://mrlizhaozhi.github.io{{ page.url }}">
	<meta property="og:image" content="https://mrlizhaozhi.github.io{{ page.image }}">
	<meta property="og:description" content="{{ page.description }}">
	
	<!-- stylesheets -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
	  	<link rel="stylesheet" type="text/css" href="/assets/styles/page-styles.css">
	
	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
		<!--responsive top navbar-->
		<style>
			h3{
				font-family: 'Open Sans', sans-serif !important;
			}
			.site-title{
				color: white;
				font-family: 'Garamond', serif;
				float: left; 
				margin-left: 150px;
			}
			.nav-top-links{float: right;}
			.nav-top-links a{color: white; text-decoration: none; padding-right: 20px;}
			.nav-top-links a:hover, .nav-top-links a:visited:hover{color: grey;}
			.nav-top-links a:visited{color: #9370DB;}
			@media(max-width: 991.98px){
				.site-title{
					display: none;
				}
				.nav-top-links{display: none;}
			}
		</style>
		
		  <div class="page-content">
		<!-- <meta http-equiv="refresh" content="0; url='/notice/'" /> -->
		
		<!--responsive top navbar-->
		<div style="background: #dadada;"><div class="container" style="color: #333;">The official website of Li Zhaozhi.</div></div>
		
		<!--
		<div style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/covid.png'); min-height: 30px; padding: 10px;
				background-size: cover; background-repeat: no-repeat;">
			<div class="container">
				<h1 style="color: white;">Coronavirus Resources</h1>
				<a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">Click here for COVID-19 resources from the World Health Organization.</a>
			</div>
		</div>
		--> 
		
		<div class="nav">
			<div style="background: #062135;">
				<div class="container">
					<a href="/">
						<img src="/assets/images/site-logo-dark.png" id="logo" alt="site logo">
					</a>
					<a href="javascript:void(0)" id="navbutton" onclick="nav();">
						<img src="/assets/images/open-menu-light-right.png" width="auto" height="30px;" id="icon">
					</a>
					<div class="nav-top-links">
						<a href="https://www.zhihu.com/people/mrlizhaozhi" target="_blank">Zhihu</a> 
						<a href="https://medium.com/@lizhaozhi" target="_blank">Medium</a> 
						<a href="https://codepen.io/lizhaozhi" target="_blank">CodePen</a> 
						<a href="https://github.com/mrlizhaozhi" target="_blank">GitHub</a> 
						<a href="https://www.kaggle.com/mrlizhaozhi" target="_blank">Kaggle</a> 
						<a href="https://public.tableau.com/app/profile/lizhaozhi" target="_blank">Tableau</a> 
						<a href="https://www.linkedin.com/in/mrlizhaozhi" target="_blank">LinkedIn</a>
					</div>
				</div>
			</div>
			<div id="mobinav" class="collapse">
				<div class="container">
					<p class="site-title">OFFICE <i>of</i> LI ZHAOZHI</p>
					<ul id="nav-items">
						<li><a href="/about-zhaozhi/">ABOUT</a></li>
						<li><a href="/issues/">ISSUES</a></li>
						<li><a href="/research/">RESEARCH</a></li>
						<li><a href="/resources/">RESOURCES</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="message"></div>
	  
			{{ content }}

		
		<!--responsive footer-->
		<div style="padding: 20px 0; background: #0a314d; color: white;">
			<div class="container">
				<ul id="footer-items">
					<li><a href="/about-zhaozhi/">Director's Office</a></li>
					<li><a href="/art-and-design/">Art and Design Studio</a></li>
					<li><a href="/research/">Research Centre</a></li>
					<li><a href="/press-office/">Press Office</a></li>
					<li><a href="/digital-services/">Digital Services Office</a></li>
				</ul>
			</div>
		</div>
		
		<div class="footer">
			<div class="container">
				<div class="footer-grid">
					<div> <script>document.write(new Date().getFullYear())</script>  &copy; Office of Li Zhaozhi
					</div>
					<div>
						<ul id="footer-items">
							<li><a href="/accessibility/">Accessibility</a></li>
							<li><a href="/terms-and-conditions/">Terms and Conditions</a></li>
							<li><a href="/privacy-policy/">Privacy Policy</a></li>
							<li><a href="/copyright/">Copyright</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script src="/assets/scripts/scripts.js"></script> 
		<script src="/assets/scripts/include.js"></script> 
		<script src="/assets/scripts/navbar.js"></script>
		<script src="/assets/scripts/opentab.js"></script> 
		
		<script>
		  AOS.init();
		</script>
		<!--custom JS-->
		<script>
				
			includeHTML();
			
			if (navigator.appName == 'Microsoft Internet Explorer' ||  !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) || (typeof $.browser !== "undefined" && $.browser.msie == 1))
			{
			  document.getElementById("browser").innerHTML = "<div style='padding: 10px 50px; color: red;'>This website does not support Internet Explorer. Please upgrade your browser. Please click <a href='/accessibility/'> here</a> to view our accessibility statement.</div>";
			}
		
		</script>	
   
</body>
</html>
