---
layout: default
---

<style>
	
	#project-list{
		list-style-type: none; 
		text-align: center;
		padding: 10px;
		background: wheat;
	}
	
	/*research intro*/
	.research-intro{
		display: flex; 
		flex-wrap: wrap; 
		flex-direction: row;
	}
	
	#research-image{
		flex-basis: 50%;
	}
	
	#research-text{
		flex-basis: 50%;
	}

	#research-image img{
		width: 100%; 
		height: 100%;
		padding: 20px; 
		object-fit: contain;
	}
	
	#project-list li{
		display: inline; 
		padding-right: 20px;
	}
	
	/*research projects*/
	.research-projects{
		display: flex; 
		flex-wrap: wrap; 
		flex-direction: row; 
		min-height: 300px;
	}
	.project{
		flex-basis: 33%;
		margin-bottom: 50px;
	}

	.project-content{
		padding: 20px; 
		height: 100%; 
		margin: 10px; 
		border: 1px solid #ccc;
	}
	
	.project a{
		font-family: 'EB Garamond', serif; 
		font-size: 24px; 
		text-decoration: none;
	}
	
	.project a:hover, .project a:visited:hover{
		text-decoration: underline; 
		color: grey;
	}
	
	@media (max-width: 767.98px) {
		
		#research-image{
			flex-basis: 100%; 
			order: 1;
		}
		#research-text{
			flex-basis: 100%; 
			order: 2;
		}
		
		.project{
			flex-basis: 100%; 
		}
		
		#project-list li{
			display: block; 
			padding-bottom: 20px;
		}
	}

</style>

	
<div style="min-height: 400px; padding: 0; position: relative;">
	<img src="{{ page.image }}" style="width: 100%; height: 100%; object-fit: cover; position: absolute; object-position: center;">
</div>
	
<div style="background-color: #0a314d;">
	<div class="container">
		<div class="news-bar" style="padding: 10px;">
			<div style="padding: 10px; border: 1px solid black;">
				<p style="text-align: center; font-family: 'EB Garamond', serif; font-size: 2em;" id="slogan">
					{{ page.title }}
				</p>
				<center>    
					<p class="text-center"></p>
				</center>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="project-page">
			<div id="project-title" style="padding-right: 5%;">
				<p style="font-size: 30px; font-family: 'EB Garamond', serif; color: yellow;">
					{{ page.message }}
				</p>
			</div>
			<div id="project-description" style="padding: 5% 0;">
				<p style="color: white;">
				   {{ page.description }}
				</p>
			</div>
		</div>
	</div>
</div>

<div style="background: #0a314d; height: 50px; clip-path: polygon(0% 0%, 100% 0, 100% 0, 50% 100%, 0 0);"></div>

{{ content }}
